@-webkit-keyframes showIn {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes showIn {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.info-show {
    -webkit-animation: showIn .4s ease;
    animation: showIn .4s ease
}

.spinner {
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-animation: sk-rotate 2s infinite linear;
    animation: sk-rotate 2s infinite linear;
    text-align: center
}

.dot1,
.dot2 {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 60%;
    height: 60%;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
    border-radius: 100%;
    background-color: #3f51b5
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}